# Virtual environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.log

# Jupyter
.ipynb_checkpoints/

# Node
node_modules/

# VS Code
.vscode/

# macOS
.DS_Store

# Vercel
.vercel/

# Environment variables
.env

# Ignore raw datasets
data/raw/

# Ignore trained models
models/*.joblib


